@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

#testimonials1-8 .mbr-section-title {
  color: #d9534f;
}
#testimonials1-8 .card-block {
  text-align: left;
}
#menu-4 .navbar-toggler {
  color: #d9534f;
}
#menu-4 .navbar-brand {
  font-family: 'Roboto Slab', serif;
}

#menu-b .navbar-toggler {
  color: #d9534f;
}
#menu-b .navbar-brand {
  font-family: 'Roboto Slab', serif;
}

#menu-c .navbar-toggler {
  color: #d9534f;
}
#menu-c .navbar-brand {
  font-family: 'Roboto Slab', serif;
}
